.likes-bar {
    color: white;
    font-size: 1.5rem;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.like {
    height: 1rem;
    width: 1rem;
}

.dislike {
    height: 1rem;
    width: 1rem;
}

.active-like {
    border: 1px solid green;
    background-color: greenyellow;
    height: 1rem;
    width: 1rem;
}

.active-dislike {
    border: 1px solid red;
    background-color: yellow;
    height: 1rem;
    width: 1rem;
}