.posts-card {
    margin-top: 8rem;

}

.post-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.post-body {
    width: 90%;
    font-size: 1rem;
    text-align: center;
    background-color: orangered;
    margin-top: 1rem;
    border-radius: 2rem;
    padding: 0.5rem;
}


.individual-post {
    width:100%;
    display: block;
    text-align: center;
    margin: auto;
    color: white;
}

.individual-post h2 {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.individual-post img {
    width: 80%;
    height: auto;
    object-fit: scale-down;
}

.individual-post span {
    font-weight: bold;
    
}

.individual-post span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post-footer {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    color: white;
}

.comments {
    margin: 0 auto;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}