:root {
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.body {
  display: flex;
  flex-direction: row;
}

.subreddits {
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

#light {
  background-color: #CCCCCC;
}

#dark {
  background-color:  rgb(53, 53, 53);
}

.ReactSwitch {
  margin: auto;
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.ReactSwitch span {
  margin-right: 0.75rem;
}

#light .ReactSwitch span {
  font-weight: bold;
  color: black;
}

#dark .ReactSwitch span {
  font-weight: bold;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
