:root {
  font-size: 16px;
}

.App {
  text-align: center;
}

.App #light {
  color: black;
}

.App #dark {
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.subreditts {
  grid-column: 1/3;
}

.home {
  grid-column: 3/6;
}

#light {
  color: rgb(0, 0, 0,);
  background-color:  rgb(255, 255, 255);
}

#dark {
  color: rgb(0, 0, 0,);
  background-color:  rgb(53, 53, 53);
}

#light a {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

#dark a {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

#light a:hover {
  color: orangered;
  text-decoration: none;
}

#dark a:hover {
  color: orangered;
  text-decoration: none;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
